version: '3.6'

services:

  app:
    ports:
      - "443:443"
    volumes:
      - ./front/dist:/app/dist

  front-watcher:
    build: 
      context: .
      target: front-watcher
    volumes:
      - ./front/dist:/app/dist
      - ./front/src:/app/src
