@font-face {
  font-family: 'baku';
  src:  url('fonts/baku.eot?uh1gs0');
  src:  url('fonts/baku.eot?uh1gs0#iefix') format('embedded-opentype'),
    url('fonts/baku.ttf?uh1gs0') format('truetype'),
    url('fonts/baku.woff?uh1gs0') format('woff'),
    url('fonts/baku.svg?uh1gs0#baku') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'baku' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\e900";
}
.icon-attachment:before {
  content: "\e901";
}
.icon-backward:before {
  content: "\e902";
}
.icon-bookmark:before {
  content: "\e903";
}
.icon-bug-solid:before {
  content: "\e904";
}
.icon-bullhorn-solid:before {
  content: "\e905";
}
.icon-camera:before {
  content: "\e906";
}
.icon-camera-off:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e908";
}
.icon-check_box:before {
  content: "\e909";
}
.icon-check_box_outline_blank:before {
  content: "\e90a";
}
.icon-chevron-right:before {
  content: "\e90b";
}
.icon-clone-regular:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e90d";
}
.icon-cloud:before {
  content: "\e90e";
}
.icon-cog:before {
  content: "\e90f";
}
.icon-cogs-solid:before {
  content: "\e910";
}
.icon-compress:before {
  content: "\e911";
}
.icon-copy:before {
  content: "\e912";
}
.icon-copy-regular:before {
  content: "\e913";
}
.icon-copy-solid:before {
  content: "\e914";
}
.icon-cut:before {
  content: "\e915";
}
.icon-edit:before {
  content: "\e916";
}
.icon-ellipsis-v:before {
  content: "\e917";
}
.icon-envelope-regular:before {
  content: "\e918";
}
.icon-exclamation-circle-solid:before {
  content: "\e919";
}
.icon-expand:before {
  content: "\e91a";
}
.icon-filter_drama:before {
  content: "\e91b";
}
.icon-folder-open-regular:before {
  content: "\e91c";
}
.icon-forward:before {
  content: "\e91d";
}
.icon-grid:before {
  content: "\e91e";
}
.icon-history:before {
  content: "\e91f";
}
.icon-home-solid:before {
  content: "\e920";
}
.icon-image-regular:before {
  content: "\e921";
}
.icon-image-sequence:before {
  content: "\e922";
}
.icon-info:before {
  content: "\e923";
}
.icon-instagram-brands:before {
  content: "\e924";
}
.icon-loading:before {
  content: "\e925";
}
.icon-lock-solid:before {
  content: "\e926";
}
.icon-movie:before {
  content: "\e927";
}
.icon-movie-done:before {
  content: "\e928";
}
.icon-movie-start-01:before {
  content: "\e929";
}
.icon-oignon .path1:before {
  content: "\e92a";
  color: rgb(0, 0, 0);
  opacity: 0.25;
}
.icon-oignon .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.icon-oignon .path3:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.75;
}
.icon-oignon .path4:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-paste:before {
  content: "\e92e";
}
.icon-pause:before {
  content: "\e92f";
}
.icon-play:before {
  content: "\e930";
}
.icon-play_loop:before {
  content: "\e931";
}
.icon-plus:before {
  content: "\e932";
}
.icon-reapeat:before {
  content: "\e933";
}
.icon-recording:before {
  content: "\e934";
}
.icon-reverse:before {
  content: "\e935";
}
.icon-select-all:before {
  content: "\e936";
}
.icon-set_begin:before {
  content: "\e937";
}
.icon-set_end:before {
  content: "\e938";
}
.icon-signal:before {
  content: "\e939";
}
.icon-start:before {
  content: "\e93a";
}
.icon-step-backward:before {
  content: "\e93b";
}
.icon-step-forward:before {
  content: "\e93c";
}
.icon-stop:before {
  content: "\e93d";
}
.icon-sync-alt:before {
  content: "\e93e";
}
.icon-trash-alt:before {
  content: "\e93f";
}
.icon-twitter-brands:before {
  content: "\e940";
}
.icon-unlock-solid:before {
  content: "\e941";
}
.icon-user-bird .path1:before {
  content: "\e942";
  color: rgb(0, 0, 0);
}
.icon-user-bird .path2:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(243, 243, 243);
}
.icon-user-bird .path3:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-user-circle:before {
  content: "\e945";
}
.icon-user-dragon:before {
  content: "\e946";
}
.icon-user-horse .path1:before {
  content: "\e947";
  color: rgb(0, 0, 0);
}
.icon-user-horse .path2:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-user-horse .path3:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-user-kiwi .path1:before {
  content: "\e94a";
  color: rgb(0, 0, 0);
}
.icon-user-kiwi .path2:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-user-kiwi .path3:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-webcam:before {
  content: "\e94d";
}
.icon-youtube-brands:before {
  content: "\e94e";
}
