.audio-list {
    width: 200px;
    padding: 10px 0;
    height: 75%;
}

.audio-list-container {
    width: 200px;
    height: 80%;
    flex-direction: column;
    display: flex;
    overflow-y: auto;
    max-height:80%;
}

.create-button-modify {
    background-image: url("../../assets/cut.png");
    width: 20px;
}

.create-button-play {
    background-image: url("../../assets/play.png");
    background-size:200%;
}

.create-button-delete {
    background-image: url("../../assets/trash-alt.png");

}

.create-button-bars {
    background-image: url("../../assets/bars-solid.png");

}

.mic-icon {
    background-image: url("../../assets/microphone-solid.png");

}

.text-icon {
    background-image: url("../../assets/dialog-dots-solid.png");
    margin-left:1.75em;
}

.record-Button {
    position: relative;
    bottom: 0;
}

.horizontal-align {
    display: inline-block;
    margin: 0px 10px;
}

.sounds {
    padding: 5px 0;
    
    .border {
        border-style: none;
        border-bottom-style:solid;
        border-bottom-width: 0.2em;
        border-color: #313131;
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex: 1 1 auto;
        overflow-y: auto;
        min-height: 0px;
    }
}

.tool{
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    
}
.tools{
    width: 80px;
    display: flex;
    align-items: baseline;

}