.preview-bloc {
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: space-between;
  padding: 0px 24px 12px 24px;
  max-height: calc(100% - 170px);
}

#preview-img {
  min-width: 640px;
  min-height: 360px;
  max-height: 720px;
  height: 100%;
  max-width: 100%;
  background: white;
}

#ghost-img {
  min-width: 640px;
  min-height: 360px;
  max-height: 720px;
  height: 100%;
  position: absolute;
  opacity: 1;
}

.onion-skin {
  min-width: 640px;
  min-height: 360px;
  max-height: 720px;
  height: 100%;
  position: absolute;
  opacity: 0.3;
}

.preview-content {
  width: 1024px;
  height: 576px;
  background: #ffffff 0 0 no-repeat padding-box;
  border: 4px solid #ffbd72;
  box-shadow: 0 6px 10px #00000066;
  border-radius: 4px;
  box-sizing: content-box;
  justify-content: center;
  display: flex;
  position: relative;
}

#video-capture {
  min-width: 640px;
  min-height: 360px;
  max-height: 720px;
  height: 100%;
  max-width: 100%;
}

#video-capture-fullscreen {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: white;
}

@media screen and (max-width: 1699px) {
  #video-capture {
    width: 640px;
    height: 360px;
  }
  .preview-container {
    width: 640px;
  }

  .preview-content {
    width: 640px;
    height: 360px;
  }

  #preview-img {
    width: 640px;
    height: 360px;
  }
}

@media screen and (min-width: 1700px) {
  #video-capture {
    width: 1024px;
  }
}

.primary-button {
  color: #ffbd72;
}

.disabled-button {
  color: #cccccc;
}

.media-controls {
  width: 100%;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;

  .clock {
    background: #455054;
    border-radius: 8px;
    color: white;
    padding: 1px 5px;
    width: 85px;
    font-size: 26px;
    margin-bottom: 5px;

    .clock-small {
      font-size: 18px;
    }
  }

  .toolbar-capture-button {
    margin-left: 100px;
  }

  .active-capture {
    color: #e66359;
  }

  .toolbar-button-big {
    font-size: 32px;
  }
}

.blinking {
  -webkit-animation: 2s blink ease infinite;
  -moz-animation: 2s blink ease infinite;
  -ms-animation: 2s blink ease infinite;
  -o-animation: 2s blink ease infinite;
  animation: 2s blink ease infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.hidden {
  display: none;
}

.disabled {
  color: lightgray !important;
  cursor: not-allowed;
}
