.main-frame {
  background: white;
  width: 100%;
  height: calc(100% - 48px);
  display: inline-flex;
  flex-direction: column;
  overflow: auto;
}

.history {
  background: white;
  display: inline-flex;
  flex-direction: column;
  padding: 10px 0px 10px 10px;
  width: 250px;

  ul {
    overflow: auto;
  }
}

.title {
  text-align: left;
  font-size: 2.4rem;
  font-weight: lighter;
  color: #455054;
  margin: 5px 0;
}

.action {
  text-align: left;
  font-size: 1.4rem;
  font-weight: bold;
  color: #455054;
  margin: 5px;
  display: flex;

  i {
    font-size: 2.4rem;
    margin-top: 3px;
    margin-right: 3px;
    color: #455054;
  }

}

.action-highlight {
  font-size: 1.4rem;
  font-weight: normal;
  color: #455054;
}

.action-date {
  font-size: 1.2rem;
  color: #7f7f7f;
}
