.main-frame {
  background: white;
  width: 100%;
  height: calc(100% - 48px);
  display: inline-flex;
  flex-direction: column;
  overflow: auto;
}

.history {
  background: white;
  display: inline-flex;
  flex-direction: column;
  margin: 0px 24px 24px;
  padding: 18px;
  max-width: 292px;

  ul {
    overflow: auto;
  }
}

.title {
  text-align: left;
  font-size: 24px;
  font-weight: lighter;
  color: #455054;
  margin: 5px 0;
}

.action {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  color: #455054;
  border-bottom: 1px solid #f2f2f2;
  margin: 5px;
  display: flex;

  i {
    font-size: 24px;
    margin-top: 3px;
    margin-right: 3px;
    color: #455054;
  }

}

.action-highlight {
  font-size: 10px;
  color: #455054;
}

.action-date {
  font-size: 8px;
  color: #7f7f7f;
}
