.main-frame {
  background: white;
  width: 100%;
  height: calc(100% - 48px);
  display: inline-flex;
  flex-direction: column;
  overflow: auto;
}

.history {
  position: relative;
  background: white;
  display: inline-flex;
  flex-direction: column;
  padding: 10px 0 10px 10px;
  width: 250px;
  min-width: 250px;

  &.floating-mode {
    position: absolute;
    right: 0;
    height: 100%;
  }

  &.mini-mode {
    width: 70px;
    min-width: 0px;
    padding: 0px;
    height: 0px;

    .title {
      width: 70px;
      margin-left: auto;
      background-color: white;
      border-radius: 8px 0 0 8px;
      margin: 5px 0 0 auto;
      padding: 10px;

      i {
        margin: 0 5px;
      }

      span {
        display: none;
      }
    }

    ul {
      display: none;
    }
  }

  ul {
    overflow: auto;
  }

  .title {
    text-align: left;
    font-size: 2.4rem;
    font-weight: lighter;
    color: #455054;
    margin: 5px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    i {
      font-size: 2.2rem;
    }
  }

  .action {
    text-align: left;
    color: #455054;
    margin: 5px;
    display: flex;

    i {
      font-size: 2.4rem;
      margin-top: 3px;
      margin-right: 3px;
      color: #455054;
    }

    .action-user {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .action-highlight {
      font-size: 1rem;
      font-weight: normal;
      color: #455054;
    }

    .action-date {
      font-size: 0.8rem;
      color: #7f7f7f;
    }
  }

}
