.main {
  background: white;
  width: 100%;
  height: calc(100% - 48px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

.top-panel {
  flex-direction: row;
  width: 100%;
  justify-content: center;
  flex: 1;
  align-items: center;
  position: relative;

  .welcome-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 1;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4px;

    .description {
      margin: 0px 0px 15px;
    }
  }

  h3 {
    font-size: 96px;
    font-weight: bold;
  }

  span {
    font-size: 24px;
  }

  img {
    width: 364px;
    display: inline-flex;
  }

  .create-button {
    margin: 0 0 0 auto;
    width: 292px;
    height: 48px;
    background: transparent linear-gradient(260deg, #ffbd72 0%, #fe676f 100%) 0% 0% no-repeat padding-box;
    border-radius: 44px;
    color: white;
    cursor: pointer;
    font-size: 24px;
    font-family: Montserrat;
    box-shadow: 0px 0px 20px #00000029;
    border: 0;
  }

  .create-button-top-right {
    background-image: url("../assets/top_rigth.png");
    width: 50px;
    height: 54px;
    float: right;
    margin-top: -18px;
    margin-left: -22px;
  }
}

.bottom-panel {
  width: 100%;
  flex-direction: column;
  padding-left: 0 !important;
  padding-right: 0 !important;

  .title {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
  }
  .movie-gallery {
    background-color: #fe676f;
    box-shadow: 0 0 20px #00000055;
    display: flex;
  }
  .movie-card {
    cursor: pointer;
    width: 200px;
    height: 150px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    margin: 24px 0px 24px 24px;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    text-align: center;
    font-size: 14px;

    img {
      width: 200px;
      height: 119px;
    }

    .card-footer {
      padding: 7px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.panel {
  padding: 24px;
  display: flex;
}

.option-home {
  margin-top: 20px;
  color: black;
  font-size: 24px;
  text-align: left;
}

.option-home:hover {
  color: #363636;
}

.option-home > span,
.option-home > i {
  cursor: pointer;
}