.main {
  width: 100%;
  height: calc(100% + 250px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

.top-panel {
  flex-direction: row;
  width: 100%;
  justify-content: center;
  flex: 1;
  align-items: center;
  position: relative;

  .welcome-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 1;
    border-radius: 4px;
    width: 100%;

    .description {
      margin: 0px 0px 15px;
    }
  }

  h3 {
    font-size: 65px;
  }

  span {
    font-size: 24px;
  }

  .logo-home {
    position:absolute;
    top: 150px;
    left: 70px;

    img {
      width: 364px;
      display: inline-flex;
    }
  }

  .create-button {
    margin: 0 0 0 auto;
    width: 292px;
    height: 48px;
    background: transparent linear-gradient(260deg, #FFBD72 0%, #FE676F 100%) 0% 0% no-repeat padding-box;
    border-radius: 44px;
    color: white;
    cursor: pointer;
    font-size: 24px;
    font-family: Montserrat;
    box-shadow: 0px 0px 20px #00000029;
    border: 0;
  }

  .create-button-top-right {
    background-image: url("../assets/top_rigth.png");
    width: 50px;
    height: 54px;
    float: right;
    margin-top: -18px;
    margin-left: -22px;
  }
}

.panel {
  padding: 24px;
  display: flex;
}

.footer-home {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

a {
  color: #455054;
}

.option-home {
  margin-top: 20px;
  font-size: 24px;
  text-align: left;
  display: inline-flex;
  align-items: center;

  i {
    margin-right: 10px;
  }
}

#libandyt{
  display: flex;
  flex-direction: column;
  width: 240px;
}

.mini-icons-container {
  justify-content: left;
  width: 250px;
  a {
    margin-right: 50px;
  }
  position: relative;
  left: 15px;
}

.name {
  color: #FE676F;
  font-weight: bold;
}

.mini-icon-baku {
  width: 20px;
}
