.main {
  width: 100%;
  // height: calc(100% + 250px);
  height: calc(100% - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

.panel.top-panel {
  flex-direction: row;
  width: 100%;
  justify-content: center;
  flex: 1;
  // align-items: center;
  align-items: flex-end;
  // position: relative;
  padding-bottom: 10px;
  margin-bottom: 0;

  .welcome-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 1;
    border-radius: 4px;
    width: 100%;

    .welcome-div-header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      justify-content: center;

      .welcome-div-logo {
        background-image: url(../assets/baku_solo_beta.svg);
        width: 200px;
        height: 200px;        
        background-repeat: no-repeat;

        // media query : margin-right: auto on wrap
      }

      .welcome-div-description {

        h3 {
          font-size: 6.5rem;
        }
        span {
          font-size: 2.4rem;
        }  
      }
    }

    .description {
      margin: 0px 0px 15px;
    }
  }

  .create-button-container {
    position: relative;
    width: 350px; // TODO
    margin: auto;

    .create-button {
      margin: 0 0 0 auto;
      background: transparent linear-gradient(260deg, #FFBD72 0%, #FE676F 100%) 0% 0% no-repeat padding-box;
      border-radius: 44px;
      color: white;
      cursor: pointer;
      font-family: Montserrat;
      box-shadow: 0px 0px 20px #00000029;
      border: 0;
      font-size: 2.4rem;
      height: 48px; // TODO
      width: 100%;
    }

    .create-button-top-right {
      background-image: url("../assets/top_rigth.png");
      width: 50px; // TODO
      height: 54px; // TODO
      position: absolute;
      top: -18px; // TODO
      right: -28px; // TODO
    }
  }
}

.panel {
  padding: 24px;
  display: flex;
}

.footer-home {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

a {
  color: #455054;
}

.option-home {
  margin-top: 20px;
  font-size: 2.0rem;
  text-align: left;
  display: inline-flex;
  align-items: center;

  i {
    margin-right: 10px;
    font-size: 3.0rem;
  }
}

#libandyt {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.mini-icons-container {
  justify-content: left;
  width: 350px;

  a {
    margin-right: 50px;
  }

  img {
    width: 35px;
  }

  position: relative;
  left: 15px
}

.name {
  color: #FE676F;
  font-weight: bold;
}