.movie-home-main {
  background: #f2f2f2;
  width: 100%;
  height: calc(100% - 48px);
  display: flex;
  flex-direction: column;
  padding: 24px;
  justify-content: space-evenly;
}

.movie-card {
  margin: 0 auto;
  width: 569px;
  height: 320px;
  max-height: 620px;
  min-height: 400px;
  background: #ffffff 0 0 no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
  font-size: 1.6rem/0.6rem;
  letter-spacing: 0;
  box-shadow: 0 0 20px #00000029;
  display: flex;
  flex-direction: column;

  .card-footer {
    padding: 7px;
    display: flex;
    flex: 1;
    flex-direction: column;

    .movie-title {
      font-size: 3.2rem;
    }
  }

  .movie-preview {
    max-height: 320px;
    width: 100%;
    flex: 3;
  }
}

.open-button {
  margin: 0 auto;
  width: 292px;
  height: 48px;
  background: #e66359 0 0 no-repeat padding-box;
  box-shadow: 0 0 20px #00000029;
  border-radius: 44px;
  color: white;
  border: 0;
  cursor: pointer;
  font-size: 1.6rem;
}
