.shots {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: auto;
}

.shot-cards-container {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.shot-preview {
  width: 100%;
  // height: 164px;
  max-width: unset;
}

#movie-header {
  display: inline-flex;
  align-items: center;
  margin-left: 0.7vw;
  margin-bottom: 24px;
  font-size: 1.2rem;

  p {
    margin-right: 30px;
  }

  .movie-header-container {
    border-radius: 8px;
    background-color: #ffffff;
    margin: auto;
    max-width: 75%;
    padding: 18px;
  }

  .title-and-info {
    display: flex;
    justify-content: center;

    .movie-title {
      font-size: 2.5rem;
    }

    .movie-info {
      margin-top: 9px;
    }
  }

  .synopsis {
    // margin: auto;
    // width: 50%;
    // background-color: #ffffff;
    // border-radius: 0px 0px 8px 8px;
    padding-top: 18px;

    font-size: 1.2rem;
    text-align: center;
  }
}


.shot-card {
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 8px;
  opacity: 1;
  margin: 8px;
  font-size: 1.6rem/0.6rem;
  letter-spacing: 0;
  align-items: flex-end;
  display: flex;
  position: relative;
  cursor: pointer;

  .card-footer {
    border: 0;
    display: flex;
    background: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding: 5px;
    min-height: 75px;

    .shot-name {
      font-size: 1.3rem;
    }

    .shot-details {
      font-size: 1.0rem;
      float: right;
      padding-top: 8px;
    }

    .shot-storyboard {
      margin-top: 5px;
      font-size: 1.0rem;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .settings-icon {
    color: gray;
    font-size: 1.5rem;
  }

  .shot-menu {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .dropdown-item-bloc {
    width: 100%;
  }

  // .dropdown.is-active {
  //   display: block;
  // }
}

.dropdown .dropdown-menu .has-link a {
  padding-left: 8px;
}

a.dropdown-item {
  padding-left: 8px;
}

.create-shot {
  background-color: white;
  background-position: 0% 0%, 0% 0%;
  background-repeat: no-repeat, repeat;
  background-attachment: scroll, scroll;
  background-image: url("../assets/baku-cloud-spinner.svg"), none;
  background-size: contain;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;

  img {
    width: 35px;
  }
}

.add-footer {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.shot-card:hover {
  box-shadow: 0 0 20px #00000029;

  .shot-menu {
    display: block;
  }
}

.slidecontainer {
  width: 100%;
  max-width: 210px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: #808080;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #FE676F;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #FE676F;
  border-radius: 50%;
}

.activate-shot-link {
  width: 100%;
  padding: 6px 8px;
  background: white;
  height: 40%;
  color: #FE676F;
}


@media (min-width: 1400px) {

  #movie-header {
    font-size: 1.6rem;
  }

}


@media (max-height: 580px) {

  .shot-card {
    width: 200px;
    height: 200px;

    .shot-menu {
      display: none;
    }
  }
}