html,
body {
  height: 100%;
  overflow: hidden;
}

#app {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #455054;
  width: 100%;
  height: 100%;
  //background: url("assets/main-background.jpg") 0% 0% no-repeat padding-box;
  background: #F2F2F2;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

/* #nav {
        padding: 30px;
    }

    #nav a {
        font-weight: bold;
        color: #2c3e50;
        margin-left: 16px;
    } */

nav {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FEFEFE 0% 0% no-repeat padding-box;
  filter: drop-shadow(0px 0px 7px #0000004D);
  backdrop-filter: blur(30px);
}

nav a {
  width: 135px;
  height: 35px;
  font-weight: lighter;
  font-size: 18px;
  text-align: center;
  padding-top: 4px;
  color: #455054;
}

nav a.router-link-active {
  color: white;
  background: #fbb10d;
  border-radius: 17px;
}

.boxContainer {
  border-radius: 8px;
  padding: 6px;
}

.bakulogo {
  height: 40px;
  width: auto;
}

.baku-button {
  cursor: pointer;
}
