html {
  overflow-y: auto !important;
}

html,
body {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.main-frame {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
}

.app {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #455054;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.app-home {
  // background: transparent url("assets/baku_home_bg.png") 100% 0 no-repeat padding-box;
  background-image: url(assets/baku_home_bg.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
}

.inline-editor {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

textarea {
  resize: none !important;
}

nav {
  height: 50px;
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  justify-content: space-between;
  background: transparent;
}

.routerlinks a {
  width: 135px;
  height: 35px;
  font-weight: lighter;
  font-size: 1.8rem;
  text-align: center;
  padding: 4px 8px;
  margin: 0 34px;
  color: #455054;
}

.routerlinks a.router-link-active {
  color: white;
  background: #ffbd72;
  border-radius: 17px;
}

.box-container {
  border-radius: 8px;
}

.baku-logo {
  height: 40px;
  width: auto;
}

.baku-button {
  cursor: pointer;
}

.logo {
  margin-top: 5px;
  height: auto;
  cursor: pointer;
}

.option-logo {
  cursor: pointer;
}

.option-logo > i {
  margin-right: 10px;
}

.right-nav {
  border-radius: 16px;
  font-size: 1.6rem;
  text-align: center;
  padding: 2px 10px 0;
  background-color: white;
}

.right-nav-home, .bug-home {
  background: white;
  color: #fe676f;
}

.flex-container {
  display: flex;
}

.previous-plan,
.next-plan {
  font-size: 1.6rem;
  font-weight: 1000;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.bug {
  border-radius: 16px;
  font-size: 1.6rem;
  text-align: center;
  padding: 2px 2px 0;
  margin-right: 10px;
  background-color: white;
}

.pseudo {
  padding-left: 5px;
}

.label-menu {
  cursor: pointer;
  font-size: 1.8rem;
  background-color: white;
  border-radius: 16px;
  padding: 2px 10px;

  p {
    display: flex;
    align-items: center;
  }
}
